### Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk
todo-api/tests/__pycache__/
todo-api/todo_api/__pycache__/
.worktrees/
